a {
    text-decoration: none;
    color: inherit;
} 

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
}

.header {
    background-color: #0a0a0a;
    padding: 33px 0 32px;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.phone {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}


.menu-item {
    padding-right: 30px;
}

.headline {
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 0 0 40px;
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.headline-img {
    margin-bottom: 25px;
}

.headline-btn {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

.news {
    padding: 90px 0 150px;
}

.news-title, .color-title {
    margin: 0 0 50px;
    color: #717171;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

.news-info {
    display: flex;
    align-items: center;
}

.news-text p {
    margin: 0 0 30px;
    max-width: 500px;
}

.news-text b {
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;
}

.images-news {
    margin-left: 190px;
}

.color {
    padding-bottom: 150px;
}

.color-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img {
    margin-bottom: 20px;
}

.color-item h3 {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;
}

.color-item p {
    margin: 0;
}

.contacts-inner {
    display: flex;
    background-color: #574b63;
    color: #fff;
}

.contacts-form {
    width: 100%;
    padding: 140px 93px;
    text-align: center;
} 

.contacts-title {
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
}

.contacts-input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574b63;
}

.contacts-input::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: .5;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}

.contacts-form p {
    opacity: 0.5;
    text-align: center;
    margin: 30px 0;
}

.contacts-form button {
    border: none;
    text-transform: uppercase;
    color: #490E84;
    background-color: #fff;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 400;
    cursor: pointer;
}

.footer {
    background-color: #0a0a0a;
}

.footer-link {
    flex-basis: 0;
    flex-grow: 1;
}

.footer-inner {
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}