a{
    text-decoration:none;
}

.header {
    background-color: #0a0a0a;
    padding: 33px 0 32px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    padding-right: 30px;
}